*{
    margin: 0;
    padding : 0;
}

.aboutusText{
    display: flex;
z-index: -1;
position: absolute;
margin-top: 20px;
justify-content: center;
}

.aboutusImg{
object-fit: cover;

};    
